/* rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media (min-width: 576px) {

    .wrapper {
        height: 100vh;
        margin: 0 auto;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 85%;
        margin-top: 45px;
        margin-bottom: 45px;
    }

    .header-container {
        text-align: center;
    }

    h3 {
        font-size: 1em;
        color: gray;
    }

    .container-section1 {
        width: 100%;
        height: 300px;
        margin-top: 30px;
    }

    .row1 {
        height: 50%;
        background-color: gainsboro;
    }

    .row2 {
        height: 50%;
        background-color: rgb(68, 66, 66);
    }

    .row3 {
        height: 50%;
        background-color: red;
        width: 100%;
    }

    .container-section2 {
        height: 300px;
        margin-top: 30px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .col-6-blue {
        height: 50%;
        width: calc(100% /2);
        background-color: blue;
    }

    .col-6-green {
        height: 50%;
        width: calc(100% /2);
        background-color: green;
    }

    .container-section3 {
        height: 300px;
        margin-top: 30px;
        width:100%;
        display: flex;
        flex-wrap: wrap;
    }

    .col-6-azul {
        height: 50%;
        width: calc(100% /2);
        background-color: rgb(125, 198, 243);
    }

    .col-6-yellow {
        height: 50%;
        width: calc(100% /2);
        background-color: rgb(175, 177, 42);
    }

    .col-6-black {
        height: 50%;
        width: calc(100% /2);
        background-color: rgb(13, 14, 13);
    }

    .col-6-gray {
        height: 50%;
        width: calc(100% /2);
        background-color: rgb(151, 154, 151);
    }


}






@media (min-width: 768px) {}


@media (min-width: 992px) {}